doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title テストサイト
    link(href="/assets/vendor/css/bulma.min.css", rel='stylesheet')
    link(href="https://use.fontawesome.com/releases/v5.3.1/js/all.js", rel='stylesheet')
    link(href="/assets/css/style.css", rel='stylesheet')
    script(src="/assets/vendor/js/jquery-3.3.1.min.js")
    script.
      $(document).ready(function() {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          $(".navbar-burger").toggleClass("is-active");
          $(".navbar-menu").toggleClass("is-active");
        });
      });

  body
    header
      nav(role="navigation", aria-label="main navigation").navbar.header.is-fixed-top
        div.navbar-brand
          a(href="#")
            figure
              img(src="#").logo
          a(data-target="navbarBasicExample", role="button", aria-expanded="false", aria-label="menu").navbar-burger.burger
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")
        div.navbar-menu
          div.navbar-end
            a.navbar-item Home
            a.navbar-item About
            a.navbar-item Services
            a.navbar-item Access
            a.navbar-item Contact
            div.navbar-items
              div.buttons
                a.button.is-primary Sign up
                a.button.is-light Log in   


    section.hero.is-info.is-large
      div.hero-body
        div.container
          h1.title タイトルが入ります
          a(href='#').button 今すぐ利用開始
          div
            h2 キャッチコピーが入ります
            p キャッチコピーに対する説明が入ります。キャッチコピーに対する説明が入ります。キャッチコピーに対する説明が入ります。

    section.section
      div.container
        div.columns
          div.column
            h3 サービスについて
              strong 強調しながら
              | 説明します
            p 説明です説明です説明です説明です説明です説明です
            a(href="#") 〜について詳しく
          div.column
            figure
              img(src="#" alt="")

        div.columns
          div.column
            figure
              img(src="#" alt="")
          div.column
            h3 サービスについて
              strong 強調しながら
              | 説明します
            p 説明です説明です説明です説明です説明です説明です
            a(href="#") 〜について詳しく

        div.columns
          div.column
            h3 サービスについて
              strong 強調しながら
              | 説明します
            p 説明です説明です説明です説明です説明です説明です
            a(href="#") 〜について詳しく
          div.column
            figure
              img(src="#" alt="")

    section.black.section
      div.container
        p 誰でも申し込みできます。
        a(href="#").button 今すぐ利用開始

    section.section
      div.container
        h3 サービスについて
          div.columns
            figure.column
              img(src="#" alt="")
              figucaption 画像についての説明です

            figure.column
              img(src="#" alt="")
              figucaption 画像についての説明です

            figure.column
              img(src="#" alt="")
              figucaption 画像についての説明です

          div.columns
            figure.column
              img(src="#" alt="")
              figucaption 画像についての説明です

            figure.column
              img(src="#" alt="")
              figucaption 画像についての説明です

          a(href="#").button 今すぐ利用開始

        h3 登録後、すぐに始められます

          div.columns
            figure.column
              img(src="#" alt="")
              figucaption お申込み

            figure.column
              img(src="#" alt="")
              figucaption 画像についての説明です

            figure.column
              img(src="#" alt="")
              figucaption 画像についての説明です

            figure.column
              img(src="#" alt="")
              figucaption 画像についての説明です

    section.black.section
      div.container
        p 誰でも申し込みできます。
        a(href="#").button 今すぐ利用開始

    section.section
      div.container
        p 疑問点はお気軽にお問い合わせください。
          br 
          | ちゃんと質問に答えますよ

        ul.columns
          li.column
            a(href="#").button navH
          li.column
            a(href="#").button navI

    footer.section
      div.container
        h4 テストサイト
        div.columns
          nav.column

            ul
              li 
                a(href="#").button navA
              li 
                a(href="#").button navB
              li 
                a(href="#").button navC
              li
                a(href="#").button navD
              li
                a(href="#").button navE
              li
                a(href="#").button navG

          nav.column
            ul
              li 
                a(href="#").button navJ
              li 
                a(href="#").button navK
              li 
                a(href="#").button navL
              li
                a(href="#").button navM

          nav.column
            ul
              li 
                a(href="#").button navN
              li 
                a(href="#").button navO
              li 
                a(href="#").button navP


