head 
    link(href="/assets/css/style.css", rel='stylesheet')
    title トップページです
    - var title = "ug入門";
article
    h1 インデックスですか
        section.container
            p #{title} 
            p aboutpageです
            a(href='./about/index.html') aboutページでした