head 
    //- @todo これなんとかしたいな…
    link(rel='stylesheet', href="../../css/style.css")
    title  aboutページです
h1 aboutページです
article 
    h1 test
    p 自己紹介を書きますよ
    section
        .contaier
            h2.title 名前です
            a(href='../index.html') 戻ります
