$fontColor: orange;

section.black {
  background-color: black;
  color: white;
}

nav.header {
  // padding: 0rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  img {
    display: block;
    width: 200px;
    height: 300px;
    background: red;
    margin: 10px;
  }
  img.logo {
    width: 200px;
    height: 50px;
    background: orange;
  }
}
